.App {
  display: flex;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin-left: 118px;
  color: #2F3136;
  font-size: 20px;
  line-height: 24px;
  flex-direction: row;
  width: 100%;
}

.quarterly-cards {
  display: flex;
  flex-wrap: wrap;
}

.quarterly-card {
  padding: 16px;
  border-radius: 1px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
}
