.sidebar {
    height: 100vh;
    width: 68px;
    position: fixed;
    background-color: #1A0931;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.logo {
    margin-bottom: 20px;
}
  
.logo-img {
    width: 28px;
    height: 28px; 
}